@import url('https://fonts.googleapis.com/css?family=Tangerine|Bellefair:400,500,700');

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Bellefair', sans-serif;
	color: #222;
}

/*--Navigation--*/
.navbar {
	padding: .3rem; /* 1 rem = 16 px */ 
	
}

.navbar-nav li {
	padding-right: 20px;
}

.nav-link {
	font-size: 2em !important;
	font-weight: bold;
	font-family: 'Tangerine';
}


/*--Dropdown Menu--*/

.dropdown li {
	color: #000;
	text-align: left;
}

.dropdown-menu {
	background: #F5F5F5;
	border-top: none;
	margin-top: 5px;	
}

.dropdown-header {
	font-size: 170%;
	font-weight: bold;
	font-family: 'Tangerine';
	
}

.dropdown-item a {
	font-size: 125%;
	color: grey;
}

.dropdown-item li:hover {
	background: rgba(0,0,0,0.2);

}


.dropdown-item a:hover {
	text-decoration: none;
	color: #EE7884;
}


/*Page header*/
.hero-image1 {
	background-image: url("https://c1.staticflickr.com/5/4797/38902613050_bb18aa2f05_k.jpg");
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/ 
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: relative;
}

.hero-image2 {
	background-image: url("https://c1.staticflickr.com/5/4788/26919585428_accdc82106_o.jpg");
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/ 
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: relative;
}

.hero-image3 {
	background-image: url("https://c1.staticflickr.com/1/787/39017294270_fd978873c2_o.jpg");
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/ 
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: relative;
}

.hero-image4 {
	background-image: url("https://c1.staticflickr.com/1/791/39003988950_0838df1564_o.jpg");
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/ 
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: relative;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.hero-text h1 {
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px #000;
}


/*Content*/
.main {
	max-width: 600px;
	margin: auto;
	padding: 10px;
	padding-top: 5rem;
}

.main p {
	font-size: 140%;
	text-align: justify;
}

/*Footer*/
.footer {
	text-align: right;
	font-family: sans-serif;
	font-size: 12px;
	padding: 0.1rem;
	background: rgba(0,0,0,0.45);
}

.footer p {
	color: #AEB6BF;
	margin-top: 10px;
	margin-right: 10px;
}



/*--------Gallery Page---------*/
.heading {
	padding-top: 5rem;
	text-align: center;
}

.heading h1 {
	padding: 50px;
	font-family: 'Bellefair';
	text-transform: uppercase;
	font-size: 300%;
}

.heading hr {
	margin-top: -50px;
	width: 60%;
}

.heading h2 {
	font-family: 'Tangerine';
	font-size: 250%;
}
.heading p {
	text-align: center;
	font-size: 150%;
	padding: 50px;
}
/*card flips*/

.maincontainer {
	perspective: 1000px;
	position: relative;
	height: 450px;
	padding: 30px;
}

.thecard {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.8s ease;	
}

.thecard:hover {
	transform: rotateY(180deg);

}
.thefront {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 20px;
	background: rgba(248,249,250);
}

.thefront h1{
	font-size: 260%;
	font-family: 'Tangerine';
	font-weight: 550;
	text-align: left;
}

.thefront p {
	text-align: left;	
	text-shadow: 1px 1px 10px #C0C0C0;
}

.thefront hr {
	margin-top: -15px;
}

.card-img-top {
	width: 100%;
	height: 250px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: rgba(0,0,0,0.5);
}

.theback {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	backface-visibility: hidden;
	background: #DCDCDC;
	transform: rotateY(180deg);
	font-size: 200%;
	text-align: center;
}

.theback a {
	position: relative;
	top: 150px;
	color: #EE7884;
	text-shadow: 2px 2px 8px #C0C0C0;
}


